
<!-- Toolbar -->
<header class="toolbar" role="banner">
  <div class="container">
    <a class="logo" routerLink=''>Movie Showcase</a>
    <div class="searchContainer">
      <input class="searchField" placeholder="search" #searchInput/>
      <div class="resultsContainer" *ngIf="movies as results">
        <ul class="resultsList">
          <li *ngFor="let movie of results">
            <a (click)="showCurrentMovieDetails(movie.id)">{{movie.title}}</a>
          </li>
        </ul>
      </div> 
    </div>
    
  <nav>
    <ul>
      <li><a routerLink=''>Home</a></li>
    </ul>
  </nav>
  </div>
   
</header>



<div class="container">
  <router-outlet></router-outlet>
</div>
