@import "../styles";

.logo {
    color: white;
    font-weight: bold;
    padding: 1em 0;
    cursor: pointer;
    :hover {
        color: darken(white, 20%);
    }
}

.searchContainer {
    display: flex;
    flex-grow: 1;
}

header {
    background: $primary;
    a {
        color: white;
        text-decoration: none;
    }
    nav {
        padding: 1em 0;
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            li a {
                padding: 1em;
                
            }
            li a:hover {
                background: darken($primary, 10%);
            }
        }
    }
}